.scroll-button {
  @include position(fixed, $right: 15px, $bottom: 50px);
  @include size(50px, 50px);
  z-index: 999;
  border-radius: 50%;
  padding: 2px;
  opacity: 0;
  transition: all 0.2s ease;
  .scroll-button-border {
    @include position(absolute, $top: 0, $right: 0);
  }
  &.active {
    opacity: 1;
  }
}
.scroll-button .button-scroll {
  width: 100%;
  height: 100%;
  padding: 3px;
  button {
    background-color: var(--charcoal);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: var(--white);
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@include device-breakpoint("tablet-size") {
  .scroll-button {
    display: none;
  }
}
