@font-face {
  font-family: "Iran Yekan";
  src: url("../fonts/IRANYekanRegularFaNum.ttf"),
    url("../fonts/IRANYekanRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Yekan";
  src: url("../fonts/YekanBakh-SemiBold.woff");
}
@font-face {
  font-family: "Pinar";
  src: url("../fonts/Pinar-DS2-FD-ExtraBold.woff2"),
    url("../fonts/Pinar-DS1-ExtraBold.woff2") format("truetype");
}
@font-face {
  font-family: "Estedad-bold";
  src: url("../fonts/Estedad-Bold.woff2");
}
