.overlay {
  &.active {
    display: block;
    @include position(fixed, $top: 0, $left: 0);
    @include size(100%);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 11;
    animation: fade 0.5s forwards;
    .closeIcon {
      position: absolute;
      top: 30px;
      left: 30px;
      color: var(--white);
      cursor: pointer;
      z-index: 10;
      font-size: 30px;
    }
  }
}
.modal {
  @include fixed-center;
  @include flex($direction: column);
  width: 97%;
  // max-width: 400px;
  background: var(--white);
  z-index: 20;
  border-radius: 10px;
  text-align: center;
  line-height: 1.5;
  text-transform: capitalize;
  padding: 20px; //this is a default padding
  .modal-text > span {
    font-size: 0.875rem;
  }
}
.modal.active {
  animation: scaleIn 0.5s forwards;
}

@keyframes fade {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes scaleIn {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

@include device-breakpoint("phone-size") {
  .modal {
    width: 98%;
  }
}
