:root {
  /* fonts */
  --IranYekan-font: Iran Yekan;
  --Pinar-font: Pinar Ds1;
  --Yekan-font: Yekan;

  /* Colors */
  --midnight-black: #000000;
  --charcoal: #333;
  --charcoal-hover: #666;
  --slate-gray: #3A3A3A;
  --steel-gray: #888888;
  --cloud-gray: #f6f6f6;
  
  --light-gray:lightgray;
  --white: #fff;
  --primary: #fa7646;
  --luminous-vivid-orange: #ff6900;
  --luminous-vivid-amber: #fcb900;
  --cyan-bluish-gray: #abb8c3;
  --pale-pink: #f78da7;
  --vivid-red: #cf2e2e;
  --light-green-cyan: #7bdcb5;
  --vivid-green-cyan: #00d084;
  --pale-cyan-blue: #8ed1fc;
  --vivid-cyan-blue: #0693e3;
  --vivid-purple: #9b51e0;
  --secondary: #ff9933;
  --alert: #f2a654;

  /* Heading Sizes */
  --heading-24px-size: 24px; /* 24px semi-bold heading size */
  --heading-32px-size: 32px; /* 32px bold heading size */
  --heading-36px-size: 36px; /* 36px semi-bold heading size */
  --heading-48px-size: 48px; /* 48px semi-bold heading size */

  /* Title Sizes */
  --title-12px-size: 12px; /* 12px medium title size */
  --title-14px-size: 14px; /* 14px semi-bold title size */
  --title-16px-size: 16px; /* 16px medium title size */
  --title-20px-size: 20px; /* 20px medium title size */

  /* Font Sizes */
  --font-size-2xs: 10px; /* extra extra small font size */
  --font-size-xs: 12px; /* extra small font size */
  --font-size-sm: 14px; /* small font size */
  --font-size-base: 16px; /* base font size */
  --font-size-lg: 18px; /* large font size */
  --font-size-xl: 20px; /* extra large font size */
  --font-size-2xl: 24px; /* double extra large font size */

  /* Gaps */
  --gap-xs: 8px; /* extra small gap */
  --gap-s: 16px; /* small gap */
  --gap-m: 24px; /* medium gap */
  --gap-l: 32px; /* large gap */
  --gap-xl: 48px; /* extra large gap */
  --gap-xxl: 64px; /* extra extra large gap */

  /* Paddings */
  --padding-9xs: 4px; /* extra extra extra small padding */
  --padding-6xs: 7px; /* extra extra small padding */
  --padding-xs: 12px; /* extra small padding */
  --padding-base: 16px; /* base padding */
  --padding-xl: 20px; /* extra large padding */
  --padding-29xl: 48px; /* extra extra extra large padding */
}
