:root {
  /* fonts */
  --IranYekan-font: Iran Yekan;
  --Pinar-font: Pinar Ds1;
  --Yekan-font: Yekan;

  /* Colors */
  --midnight-black: #000000;
  --charcoal: #333;
  --charcoal-hover: #666;
  --slate-gray: #3a3a3a;
  --steel-gray: #888888;
  --cloud-gray: #f6f6f6;

  --light-gray: lightgray;
  --white: #fff;
  --primary: #fa7646;
  --luminous-vivid-orange: #ff6900;
  --luminous-vivid-amber: #fcb900;
  --cyan-bluish-gray: #abb8c3;
  --pale-pink: #f78da7;
  --vivid-red: #cf2e2e;
  --light-green-cyan: #7bdcb5;
  --vivid-green-cyan: #00d084;
  --pale-cyan-blue: #8ed1fc;
  --vivid-cyan-blue: #0693e3;
  --vivid-purple: #9b51e0;
  --secondary: #ff9933;
  --alert: #f2a654;
}
