.products-filter-sidebar {
  @include position(sticky, $top: 10px);
  flex: 1.25;
  height: 100dvh;
  .sidebar-title {
    @include text-format(20px, $fontFamilly: "Estedad-bold");
    padding-bottom: 20px;
  }
}
.products-filter-sidebar .category-filter {
  padding-bottom: 20px;
  border-bottom: 2px solid var(--light-gray);
  .sidebar-items {
    @include text-format(14px, $cursor: pointer);
    padding: 14px 0;
  }
}
.sidebar-items a {
  color: var(--steel-gray);
  &:hover {
    color: var(--midnight-black);
  }
}
.products-filter-sidebar .price-filter,
.labels {
  padding: 20px 0;
  border-bottom: 2px solid var(--light-gray);
}
.filter-button {
  width: max-content;
  padding: 20px 0;
}

.lables-row {
  @include flex($gap: 10px);
  flex-wrap: wrap;
  .lable {
    font-size: 13px;
    padding: 7px 16px;
    border: 1px solid var(--light-gray);
    text-align: center;
    min-height: 33px;
    transition: all 0.2s;
  }
}
.lables-row {
  .labelLink {
    color: var(--steel-gray);
  }
  .lable:hover {
    transition: all 0.2s;
    border-color: var(--primary);
    .labelLink {
      color: var(--primary);
    }
  }
}

.price-filter-ranger {
  margin: 25px 0 15px;
  position: relative;
}
.price-range-show {
  .min-price {
    @include position(absolute, $top: -16px, $left: -10%);
    @include text-format(12px, var(--primary));
  }
  .max-price {
    @include position(absolute, $top: -16px, $right: -10%);
    @extend .min-price;
  }
}
@include device-breakpoint("large-mobile") {
  .products-filter-sidebar {
    @include position(fixed, $top: 0, $right: -100%, $bottom: 0);
    @include size(70%, 100%);
    z-index: 99;
    background: var(--white);
    min-width: 250px;
    max-width: 350px;
    flex: unset;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 25px;
    transition: all 0.5s ease;
    &.active {
      right: 0;
    }
  }
}

.rc-slider-handle-dragging {
  box-shadow: none !important;
}
