.profile-menu-list {
  .profile-menu-list-item {
    margin: 10px 0;
    background-color: var(--cloud-gray);
    min-height: 45px;
    @include flex($align: center);
    cursor: pointer;
    position: relative;
    &:hover::before {
      content: "";
      @include position(absolute, $top: 0, $right: -3px);
      @include size(3px, 100%);
      background-color: var(--primary);
      animation: fade 0.3s;
    }
  }
}
.profile-menu-list {
  .profile-menu-list-item {
    &:last-child {
      padding: 13px;
    }
    a {
      display: block;
      @include size(100%, 100%);
      padding: 13px;
    }
  }
}

.profile-menu-list-item:has(> a.active)::before {
  content: "";
  @include position(absolute, $top: 0, $right: -3px);
  @include size(3px, 100%);
  background-color: var(--primary);
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
