.headerSliderContainer {
  .slider-picture {
    @include size(100%, 80vh);
    max-height: 75vh;
    @include grid($columns: repeat(3, 1fr), $rows: repeat(3, 1fr));
    justify-items: center;
    align-items: center;
    line-height: 2;
    img {
      @include size(100%, 100%);
      grid-column: 1 / 4;
      grid-row: 1 / 4;
    }
  }
}

.slider-text-wrapper {
  grid-column: 1;
  grid-row: 2 / 3;
  .text-sm {
    position: relative;
    font-family: "Yekan";
    &::before {
      content: "";
      @include position(absolute, $top: 13px, $right: -43px);
      @include size(30px, 2px);
      background-color: var(--luminous-vivid-orange);
    }
  }
}
.slider-title {
  h1 {
    @include text-format(40px, $fontFamilly: "pinar");
    text-wrap: pretty;
    &.active {
      color: var(--primary);
    }
  }
}
.slider-text-wrapper {
  .text-row {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .slider-btn {
    width: 150px;
  }
}

.swiper-pagination-bullet-active {
  @include size(20px, 8px);
  background: var(--primary);
  border-radius: 20px;
}
@include device-breakpoint("large-mobile") {
  .headerSliderContainer .slider-picture {
    grid-template-columns: 1fr;
    justify-items: start;
  }
  .slider-title h1{
    font-size: 35px;
  }
  .slider-text-wrapper {
    margin-right: 15px;
    .text-sm::before {
      content: unset;
    }

    .text-row {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
    }
  }
}
