.mobile-menu-wrapper {
  @include position(fixed, $right: 0, $bottom: -71px);
  @include size(100%, 100%);
  background: var(--white);
  z-index: 11;
  padding: 15px;
  max-height: 65px;
  box-shadow: 1px -1px 3px 0 gray;
  display: none;
  transition: all 0.4s ease;
  .mobile-menu-list {
    height: 100%;
    @include flex($justify: space-between, $align: center);
  }
}
.mobile-menu-wrapper {
  .menu-list-item .mobile-menu-link {
    @include flex($direction: column, $align: center, $gap: 5px);
    color: gray;
    font-size: 12px;
    svg.mobile-menu-icon {
      font-size: 23px;
    }
  }
}

@include device-breakpoint("tablet-size") {
  .mobile-menu-wrapper {
    display: block;
    &.active {
      bottom: 0;
    }
  }
}
