.productCard {
  position: relative;
  width: 100%;
  overflow: hidden;
  .productCardPicture {
    margin-bottom: 20px;
    img {
      min-height: 320px;
      @include size(100%, 100%);
    }
  }
}
.productCard {
  &:hover {
    .productCardIcons {
      left: 10px;
      z-index: 8;
    }
  }
}
.productCard .productCardIcons {
  @include position(absolute, $top: 10px, $left: -30%);
  transition: all 0.5s;
  .card-icon {
    @include size(35px, 35px);
    @include flex(column, center, center);
    margin-top: 5px;
    background: var(--white);
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
    transition: all 0.2s;
  }
}
.productCardIcons .card-icon {
  svg {
    font-size: 18px;
  }
  .filled-liked-Icon {
    color: var(--primary);
  }
  &:hover {
    background-color: var(--primary);
    color: var(--white);
    svg {
      color: var(--white);
    }
  }
}
.productCard {
  .productCardText {
    @include flex(column, center, center);
    gap: 15px;
  }
  .productCardPrice {
    font-size: 15px;
    font-weight: 600;
  }
  .productCardTitle {
    @include text-format(20px, $fontFamilly: "Yekan");
  }
}

.spinner-loader {
  @include size(90%, 90%);
  border: 2px solid var(--primary);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.5s linear infinite;
}
.addToCart,
.likeProduct {
  &:hover {
    .spinner-loader {
      border: 2px solid var(--white);
      border-bottom-color: transparent;
    }
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@include device-breakpoint("phone-size") {
  .productCard {
    .productCardIcons {
      left: 5px;
      .card-icon {
        width: 25px;
        height: 25px;
        svg {
          font-size: 15px;
        }
      }
    }
    &:hover .productCardIcons {
      left: 10px;
    }
  }

  .productCard .productCardPicture img {
    min-height: 180px;
  }
}
